<h1> New Bingo Card </h1>

<%= form_with model: @card do |form| %>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
    <% @card.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
